
<div id="helpnSupportDiv">
    <button id="supporHidetBtn">X</button>
    <div class="row mt-3 px-5">
        <div class="col">
            <h3>Support</h3>
            <ul style="list-style-type: none; padding-left: 0;">
                <li class="mt-3">Help Centre</li>
                <li class="mt-3">AirCover</li>
                <li class="mt-3">Safety information</li>
                <li class="mt-3">Cancellation options</li>
                <li class="mt-3">Our COVID-19 Response</li>
            </ul>
        </div>
        <div class="col">
            <h3>Community</h3>
            <ul style="list-style-type: none; padding-left: 0;">
                <li class="mt-3">Airbnb.org: disaster relief housing</li>
                <li class="mt-3">Support refugees</li>
                <li class="mt-3">Combating discrimination</li>

            </ul>
        </div>
        <div class="col">
            <h3>Hosting</h3>
            <ul style="list-style-type: none; padding-left: 0;">
                <li class="mt-3">Try hosting</li>
                <li class="mt-3">AirCover for Hosts</li>
                <li class="mt-3">Explore hosting resources</li>
                <li class="mt-3">Visit our community forum</li>
                <li class="mt-3">How to host responsibly</li>
            </ul>
        </div>
        <div class="col">
            <h3>Airbnb</h3>
            <ul style="list-style-type: none; padding-left: 0;">
                <li class="mt-3">Newsroom</li>
                <li class="mt-3">Learn about new features</li>
                <li class="mt-3">Careers</li>
                <li class="mt-3">Investors</li>
            </ul>
        </div>
    </div>

</div>


<br>
<footer>
    <div class="footer">
       
        <div>
            <span>&copy; 2022 Airbnb Inc,</span>
            <span>&#183 </span>
            <span>Privacy</span>
            <span>&#183 </span>
            <span>Terms</span>
            <span>&#183 </span>
            <span>Sitemap</span>
            <span>&#183 </span>
            <span>Company details</span>
            <span>&#183 </span>
            <span>Destinations</span>
        </div>
        <div style="display: flex; justify-content: space-around; gap: 1.5rem;">
            <div>
                <a href="/siteinstructions" style="text-decoration: none; color: #e42246">Site instructions</a>
            </div>
            <div>
                <span><i class="fa-solid fa-globe"></i></span>
            </div>
            <div>
                <span>English (IN)</span>
            </div>
            <div>
                <span>&#8377 </span>
                <span>INR</span>
            </div>
            <div>
                <a href="/admin" style="text-decoration: none; color: black">Admin login</a>
            </div>
            <div>
                <button id="supprtShowBtn" class="loginSignupBtn popHelpBtn"><span><i class="fa-solid fa-angle-up"></i></span></button>
            </div>
        </div>
        
    </div>
</footer>
