<nav class="conatainer mt-3">
    <div class="navigationBar">
      <!-- logo -->
      <div class="logo">
        <a href="/"><i class="fa-brands fa-airbnb"></i>airbnb</a>
      </div>
      <!-- search box -->
      <div class="search-box">
        <span class="searchBox-span">Anywhere</span><span>|</span>
        <span class="searchBox-span">Any week</span><span>|</span>
        <span class="searchBox-span" style="color: grey; cursor: pointer;">Add guests</span>
        <span class="searchBox-span search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
      <!-- Become Host -->
      <div style="display: flex; justify-content: space-around;">
        <div class="becomeHost">
          <button class="host" id="becomeHostBtn" type="button"><a style="color: inherit; text-decoration: none;"
              href="/registerproperty">Become a host</a></button>
        </div>
        <div class="globeBtn">
          <button class="host" type="button"><i class="fa-solid fa-globe"></i></button>
        </div>

        <!--Login / signup button  -->
        <!-- <div class="loginSignup" style="margin-left: 2rem;"> -->
        <button class="loginSignupBtn" type="button">
          <div class="loginSignup">
            <span><i class="fa-solid fa-bars"></i></span>
            <span style="margin-left: 10px;"><i class="fa-solid fa-user"></i></span>
          </div>
        </button>
        <!-- </div> -->
      </div>
    </div>
  </nav>