<!-- Items below navbar -->
<div class="container-fluid">
    <div class="grid-container">
        <div class="item">
            <img src="/src/beaches.jpg" alt="beach-logo" width="24" height="24">
            <span style="display: block;">Beaches</span>
        </div>
    
        <div class="item">
            <img src="/src/design.jpg" alt="" width="24" height="24">
            <span style="display: block;">Design</span>
        </div>
    
        <div class="item">
            <img src="/src/lake-front.jpg" alt="" width="24" height="24">
    
            <span style="display: block;">Lakefront</span>
        </div>
    
        <div class="item">
            <img src="/src/tropical.jpg" alt="" width="24" height="24">
            <span style="display: block;">Tropical</span>
        </div>
    
        <div class="item">
            <img src="/src/farms.jpg" alt="" width="24" height="24">
            <span style="display: block;">Famrs</span>
        </div>
    
        <div class="item">
            <img src="/src/ufo.jpg" alt="" width="24" height="24">
            <span style="display: block;">OMG!</span>
        </div>
    
        <div class="item">
            <img src="/src/pools.jpg" alt="" width="24" height="24">
            <span style="display: block;">Pools</span>
        </div>
    
        <div class="item">
            <img src="/src/iland.jpg" alt="" width="24" height="24">
            <span style="display: block;">Islands</span>
        </div>
    
        <div class="item">
            <img src="/src/national-parks.jpg" alt="" width="24" height="24">
    
            <span style="display: block;">Parks</span>
        </div>
    
        <div class="item">
            <img src="/src/tinyhome.jpg" alt="" width="24" height="24">
            <span style="display: block;">Tiny home</span>
        </div>
    
        <div class="item">
            <img src="/src/campervan.jpg" alt="" width="24" height="24">
            <span style="display: block;">Campervans</span>
        </div>
    
        <div style="display: flex; align-items:center">
            <div style="border: 1px solid grey; border-radius: 50%; width: 1.5rem; height: 1.5rem">
                <span><i class="fa-solid fa-angle-right"></i></span>
            </div>
        </div>
        <div style="display: flex; align-items:center">
            <div style="border: 1px solid grey; border-radius: 5px; padding: 10px 5px 10px;">
                <span><i class="fa-solid fa-filter"></i> Filters</span>
            </div>
        </div>
    </div>
</div>

