<%- include('./partials/header')  -%>
    <div class="container mt-3 p-5">
        <div style="text-align: center;">
            <h2>Site Instructions</h2>
            <hr>
        </div>
        <div>
            <h3><span style="color: red">You must be connected to internet as the database is hosted on mongodb cloud</span></h3>
        </div>
        <div>
            <ul>
                <li>Login or signup from the menu from upper right button.</li>
                <li>You must register as host in order to host a property.</li>
                <li>Access your bookings or hosted properties from the menu after login</li>
                <li>Search facility is given on home page. One can search hotel by name, city or price.</li>
                <li>Access the admin login page from the footer on home page.</li>
                <li>Follow onscreen options</li>
            </ul>
        </div>
        <br>
        <div>
            <a href="/"><button class="btn btn-outline-danger">Go to Airbnb</button></a>
        </div>
    </div>
</body>
</html>