<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success - Airbnb</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        * {
            text-align: center;
        }

        .main {
            width: 300px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
            /* text-align: center; */
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 1rem;
        }

        .checkIcon {
            display: block;
            text-align: center;
            align-content: center;
            width: 100%;
            height: auto;
            background-color: #51d604;
            color: #fff;
            font-size: 4rem;
        }

        .success-info {
            font-family: Arial, sans-serif;
            color: #51d604;
            font-size: 1.5rem !important;
        }

        /* .success-links {
            font-size: 10px;
        } */
    </style>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="container mt-5">
        <div class="main">
            <div class="checkIcon">
                <i class="fa-regular fa-circle-check"></i>
            </div>
            <div class="success-info">
                <h1>Success!</h1>
            </div>
            <div class="success-links">
                <br>
                <a href="/" class="btn btn-sm btn-outline-dark">Return to Home Page</a>
                <a href="/<%=redirectLink%>" class="btn btn-sm btn-outline-dark"><%=btnText%></a>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>